/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as AntsPlatformAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Trace {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Sdk-Name header */
    xAntsPlatformSdkName?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Sdk-Version header */
    xAntsPlatformSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Public-Key header */
    xAntsPlatformPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | undefined> | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-AntsPlatform-Sdk-Name header */
    xAntsPlatformSdkName?: string | undefined;
    /** Override the X-AntsPlatform-Sdk-Version header */
    xAntsPlatformSdkVersion?: string | undefined;
    /** Override the X-AntsPlatform-Public-Key header */
    xAntsPlatformPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | undefined> | undefined
    >;
  }
}

export class Trace {
  protected readonly _options: Trace.Options;

  constructor(_options: Trace.Options) {
    this._options = _options;
  }

  /**
   * Get a specific trace
   *
   * @param {string} traceId - The unique antsPlatform identifier of a trace
   * @param {Trace.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.trace.get("traceId")
   */
  public get(
    traceId: string,
    requestOptions?: Trace.RequestOptions,
  ): core.HttpResponsePromise<AntsPlatformAPI.TraceWithFullDetails> {
    return core.HttpResponsePromise.fromPromise(
      this.__get(traceId, requestOptions),
    );
  }

  private async __get(
    traceId: string,
    requestOptions?: Trace.RequestOptions,
  ): Promise<core.WithRawResponse<AntsPlatformAPI.TraceWithFullDetails>> {
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/traces/${encodeURIComponent(traceId)}`,
      ),
      method: "GET",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AntsPlatformAPI.TraceWithFullDetails,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/traces/{traceId}.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Delete a specific trace
   *
   * @param {string} traceId - The unique antsPlatform identifier of the trace to delete
   * @param {Trace.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.trace.delete("traceId")
   */
  public delete(
    traceId: string,
    requestOptions?: Trace.RequestOptions,
  ): core.HttpResponsePromise<AntsPlatformAPI.DeleteTraceResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__delete(traceId, requestOptions),
    );
  }

  private async __delete(
    traceId: string,
    requestOptions?: Trace.RequestOptions,
  ): Promise<core.WithRawResponse<AntsPlatformAPI.DeleteTraceResponse>> {
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/traces/${encodeURIComponent(traceId)}`,
      ),
      method: "DELETE",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AntsPlatformAPI.DeleteTraceResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling DELETE /api/public/traces/{traceId}.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get list of traces
   *
   * @param {AntsPlatformAPI.GetTracesRequest} request
   * @param {Trace.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.trace.list()
   */
  public list(
    request: AntsPlatformAPI.GetTracesRequest = {},
    requestOptions?: Trace.RequestOptions,
  ): core.HttpResponsePromise<AntsPlatformAPI.Traces> {
    return core.HttpResponsePromise.fromPromise(
      this.__list(request, requestOptions),
    );
  }

  private async __list(
    request: AntsPlatformAPI.GetTracesRequest = {},
    requestOptions?: Trace.RequestOptions,
  ): Promise<core.WithRawResponse<AntsPlatformAPI.Traces>> {
    const {
      page,
      limit,
      userId,
      name,
      sessionId,
      fromTimestamp,
      toTimestamp,
      orderBy,
      tags,
      version,
      release,
      environment,
      fields,
    } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (page != null) {
      _queryParams["page"] = page.toString();
    }

    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    if (userId != null) {
      _queryParams["userId"] = userId;
    }

    if (name != null) {
      _queryParams["name"] = name;
    }

    if (sessionId != null) {
      _queryParams["sessionId"] = sessionId;
    }

    if (fromTimestamp != null) {
      _queryParams["fromTimestamp"] = fromTimestamp;
    }

    if (toTimestamp != null) {
      _queryParams["toTimestamp"] = toTimestamp;
    }

    if (orderBy != null) {
      _queryParams["orderBy"] = orderBy;
    }

    if (tags != null) {
      if (Array.isArray(tags)) {
        _queryParams["tags"] = tags.map((item) => item);
      } else {
        _queryParams["tags"] = tags;
      }
    }

    if (version != null) {
      _queryParams["version"] = version;
    }

    if (release != null) {
      _queryParams["release"] = release;
    }

    if (environment != null) {
      if (Array.isArray(environment)) {
        _queryParams["environment"] = environment.map((item) => item);
      } else {
        _queryParams["environment"] = environment;
      }
    }

    if (fields != null) {
      _queryParams["fields"] = fields;
    }

    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/traces",
      ),
      method: "GET",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AntsPlatformAPI.Traces,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/traces.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Delete multiple traces
   *
   * @param {AntsPlatformAPI.DeleteTracesRequest} request
   * @param {Trace.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.trace.deleteMultiple({
   *         traceIds: ["traceIds", "traceIds"]
   *     })
   */
  public deleteMultiple(
    request: AntsPlatformAPI.DeleteTracesRequest,
    requestOptions?: Trace.RequestOptions,
  ): core.HttpResponsePromise<AntsPlatformAPI.DeleteTraceResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__deleteMultiple(request, requestOptions),
    );
  }

  private async __deleteMultiple(
    request: AntsPlatformAPI.DeleteTracesRequest,
    requestOptions?: Trace.RequestOptions,
  ): Promise<core.WithRawResponse<AntsPlatformAPI.DeleteTraceResponse>> {
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/traces",
      ),
      method: "DELETE",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AntsPlatformAPI.DeleteTraceResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling DELETE /api/public/traces.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
