/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as AntsPlatformAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Score {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Sdk-Name header */
    xAntsPlatformSdkName?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Sdk-Version header */
    xAntsPlatformSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-AntsPlatform-Public-Key header */
    xAntsPlatformPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | undefined> | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-AntsPlatform-Sdk-Name header */
    xAntsPlatformSdkName?: string | undefined;
    /** Override the X-AntsPlatform-Sdk-Version header */
    xAntsPlatformSdkVersion?: string | undefined;
    /** Override the X-AntsPlatform-Public-Key header */
    xAntsPlatformPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | undefined> | undefined
    >;
  }
}

export class Score {
  protected readonly _options: Score.Options;

  constructor(_options: Score.Options) {
    this._options = _options;
  }

  /**
   * Create a score (supports both trace and session scores)
   *
   * @param {AntsPlatformAPI.CreateScoreRequest} request
   * @param {Score.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.score.create({
   *         id: undefined,
   *         traceId: undefined,
   *         sessionId: undefined,
   *         observationId: undefined,
   *         datasetRunId: undefined,
   *         name: "name",
   *         value: 1.1,
   *         comment: undefined,
   *         metadata: undefined,
   *         environment: undefined,
   *         dataType: undefined,
   *         configId: undefined
   *     })
   */
  public create(
    request: AntsPlatformAPI.CreateScoreRequest,
    requestOptions?: Score.RequestOptions,
  ): core.HttpResponsePromise<AntsPlatformAPI.CreateScoreResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__create(request, requestOptions),
    );
  }

  private async __create(
    request: AntsPlatformAPI.CreateScoreRequest,
    requestOptions?: Score.RequestOptions,
  ): Promise<core.WithRawResponse<AntsPlatformAPI.CreateScoreResponse>> {
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/scores",
      ),
      method: "POST",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AntsPlatformAPI.CreateScoreResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling POST /api/public/scores.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Delete a score (supports both trace and session scores)
   *
   * @param {string} scoreId - The unique antsPlatform identifier of a score
   * @param {Score.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AntsPlatformAPI.Error}
   * @throws {@link AntsPlatformAPI.UnauthorizedError}
   * @throws {@link AntsPlatformAPI.AccessDeniedError}
   * @throws {@link AntsPlatformAPI.MethodNotAllowedError}
   * @throws {@link AntsPlatformAPI.NotFoundError}
   *
   * @example
   *     await client.score.delete("scoreId")
   */
  public delete(
    scoreId: string,
    requestOptions?: Score.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__delete(scoreId, requestOptions),
    );
  }

  private async __delete(
    scoreId: string,
    requestOptions?: Score.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/scores/${encodeURIComponent(scoreId)}`,
      ),
      method: "DELETE",
      headers: mergeHeaders(
        this._options?.headers,
        mergeOnlyDefinedHeaders({
          Authorization: await this._getAuthorizationHeader(),
          "X-AntsPlatform-Sdk-Name": requestOptions?.xAntsPlatformSdkName,
          "X-AntsPlatform-Sdk-Version": requestOptions?.xAntsPlatformSdkVersion,
          "X-AntsPlatform-Public-Key": requestOptions?.xAntsPlatformPublicKey,
        }),
        requestOptions?.headers,
      ),
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AntsPlatformAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AntsPlatformAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AntsPlatformAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AntsPlatformAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AntsPlatformAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AntsPlatformAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AntsPlatformAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AntsPlatformAPITimeoutError(
          "Timeout exceeded when calling DELETE /api/public/scores/{scoreId}.",
        );
      case "unknown":
        throw new errors.AntsPlatformAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
